<div class="container">
    <div class="card card-add"  (click)="setActualCard('add')">
        <span>+</span>
    </div>

    <div *ngFor="let card of cards" >
        <div class="card" (click)="setActualCard(card)" >
            <h2>{{card}}</h2>
        </div>
    </div>

</div>
<!-- <ng-container [ngSwitch]="actualCard">

    <div *ngSwitchCase="'card1'" [@slide]>
        <app-seccion1 [title]="actualCard" [@enterTrigger]="'fadeIn'"></app-seccion1>
    </div>
    <div *ngSwitchCase="'card2'" [@slide]>
        <app-seccion1 [title]="actualCard" [@enterTrigger]="'fadeIn'"></app-seccion1>

    </div>
    <div *ngSwitchCase="'card3'" [@slide]>
        <app-seccion1 [title]="actualCard" [@enterTrigger]="'fadeIn'"></app-seccion1>

    </div>

</ng-container> -->

<app-tema [title]="actualCard"></app-tema>
<app-new-tema *ngIf="actualCard == 'add'"></app-new-tema>